---
import type { locale } from "../../../assets/types/i18n";
import type { HomeSection } from "../../../translations/home";
import { imagesUrl } from "../../../util/imageUrl";
import LinkButton from "../../common/LinkButton.astro";
import Typography from "../../common/Typography.astro";

interface Props {
  order: "normal" | "reverse";
  section: HomeSection;
  imageFileName: string;
  language: locale;
  path: string;
}

const { order, section, imageFileName, language, path } = Astro.props;
const image = imagesUrl(imageFileName);
---

<section
  class:list={[
    "flex flex-col w-full bg-white shadow-lg p-4 gap-4 xl:p-8",
    order === "normal" ? "xl:flex-row" : "xl:flex-row-reverse",
  ]}
>
  <div class="xl:w-1/2 xl:flex xl:items-center">
    <img src={image} class="md:h-[295px] mx-auto" alt="" />
  </div>
  <div class="flex flex-col gap-8 xl:w-1/2 xl:justify-between">
    <div class="flex flex-col gap-8">
      <h2 class="text-2xl lg:text-3xl font-bold text-black">{section.title}</h2>
      <Typography>{section.text}</Typography>
    </div>
    <LinkButton className="text-base lg:text-xl p-4 w-max" href=`/${language}/${path}`
      >{section.buttonText}</LinkButton
    >
  </div>
</section>
