---
import type { locale } from "../../../assets/types/i18n";
import { catalogue } from "../../../common/catalogue";
import Box from "../../../components/common/Box.astro";
import LinkButton from "../../../components/common/LinkButton.astro";
import Typography from "../../../components/common/Typography.astro";
import Layout from "../../../layouts/Layout.astro";
import { productPageTranslations } from "../../../translations/productPage";
import { imageSizes } from "../../../util/imageSizes";
import { imagesUrl } from "../../../util/imageUrl";
import { srcset } from "../../../util/srcset";

export async function getStaticPaths() {
  const catalogueBg = catalogue.map((product) => ({
    params: { lang: "bg" as locale, product: product.id },
    props: { product },
  }));

  const catalogueEn = catalogue.map((product) => ({
    params: { lang: "en" as locale, product: product.id },
    props: { product },
  }));

  return [...catalogueBg, ...catalogueEn];
}

const { lang } = Astro.params;
const { product } = Astro.props;

const productData = product[lang];
const translations = productPageTranslations[lang];
const image = imagesUrl(product.imageFileName);

const src = srcset([
  [product.imageFileName, 500],
  [product.imageFileName, 500],
]);
---

<Layout language={lang}>
  <nav class="breadcrumb" aria-label={translations.breadcrumb}>
    <ol class="flex flex-row gap-1 justify-center">
      <Typography tag="li" className="h-max">
        <a
          href={`/${lang}/catalogue`}
          class="text-[#1A0DAB] underline hover:no-underline active:underline"
        >
          {translations.catalogue}
        </a>
      </Typography>
      <Typography tag="li">
        <span class="current-item">{productData.name}</span>
      </Typography>
    </ol>
  </nav>
  <Box tag="section" className="w-11/12 mx-auto flex flex-col gap-4 lg:flex-row lg:gap-0">
    <div class="border-b w-full border-gray lg:w-1/2">
      <img
        loading="lazy"
        decoding="async"
        class="aspect-square h-auto w-full max-w-[400px] xl:max-w-[600px] block mx-auto"
        src={image}
        srcset={src}
        alt=""
      />
    </div>
    <div class="flex flex-col p-4 pt-0 gap-8 lg:pt-4">
      <div class="flex flex-col gap-4">
        <h1 class="font-bold text-2xl">{productData.name}</h1>
        <Typography>{productData.description}</Typography>
      </div>
      <Typography className="italic">{translations.inquiry}:</Typography>
      <LinkButton className="text-base p-4 lg:w-max" href={`/${lang}/contacts`}
        >{translations.contactUs}</LinkButton
      >
    </div>
  </Box>
</Layout>

<style scoped>
  .current-item::before {
    content: ">";
    padding-right: 4px;
  }
</style>
