---
import type { locale } from "../../../assets/types/i18n";
import { catalogue } from "../../../common/catalogue";
import Box from "../../../components/common/Box.astro";
import PageTitle from "../../../components/common/PageTitle.astro";
import Layout from "../../../layouts/Layout.astro";
import { imagesUrl } from "../../../util/imageUrl";

interface Props {
  lang: locale;
}

export async function getStaticPaths() {
  return [
    {
      params: { lang: "bg" as locale },
    },
    {
      params: { lang: "en" as locale },
    },
  ];
}

const { lang } = Astro.params;

const products = catalogue.map((product) => ({
  id: product.id,
  imageFileName: product.imageFileName,
  data: product[lang],
}));

console.log(products);
---

<Layout language={lang}>
  <PageTitle>Placeholder</PageTitle>
  <ul>
    {
      products.map((product) => (
        <li>
          <Box className="w-64">
            <img
              loading="lazy"
              decoding="async"
              src={imagesUrl(product.imageFileName)}
              width="256"
              height="256"
            />
            <div>
              <h2>{product.data.name}</h2>
              <a href={`/${lang}/catalogue/${product.id}`}>Placeholder</a>
            </div>
          </Box>
        </li>
      ))
    }
  </ul>
</Layout>
