---
import "../styles/global.css";
import Navigation from "../components/layout/nav/Navigation.astro";
import Footer from "../components/layout/footer/Footer.astro";
import type { locale } from "../assets/types/i18n";
import { locales } from "../common/locales";

interface Props {
  language: locale;
  title: string;
  metaDescription: string;
}

const { language, title, metaDescription } = Astro.props;
const url = Astro.url;
const path = url.pathname;

const page = path.replace("/bg", "").replace("/en", "");
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={`https://studiodada-2ee96.web.app/bg${page}`} />
    {
      locales.map((locale) => (
        <link
          rel="alternate"
          hreflang={locale}
          href={`https://studiodada-2ee96.web.app/${locale}${page}`}
        />
      ))
    }
    <link
      rel="alternate"
      hreflang="x-default"
      href={`https://studiodada-2ee96.web.app/bg${page}`}
    />
  </head>
  <body>
    <Navigation language={language} />
    <main id="main">
      <slot />
    </main>
    <Footer language={language} />
  </body>
</html>

<script src="/src/scripts/global.ts"></script>
