---
import type { locale } from "../../../assets/types/i18n";
import { srcset } from "../../../util/srcset";
import { imageSizes } from "../../../util/imageSizes";
import FlagUK from "../../icons/FlagUK.astro";
import { navigationTranslations } from "../../../translations/nav";
import FlagBulgaria from "../../icons/FlagBulgaria.astro";

type Link = {
  value: string;
  href: string;
};

interface Props {
  language: locale;
}

const { language } = Astro.props;
const translations = navigationTranslations[language];

const logos = srcset([
  ["logo_studio_dada.png", 1575],
  ["logo_studio_dada.png", 1575],
  ["logo_studio_dada.png", 1575],
  ["logo_studio_dada.png", 1575],
]);

const sizes = imageSizes([170, 250, 290, 504]);

const links: Link[] = [
  {
    value: translations.home,
    href: `/${language}`,
  },
  {
    value: translations.catalogue,
    href: `/${language}/catalogue`,
  },
  {
    value: translations.customers,
    href: `/${language}/customers`,
  },
  {
    value: translations.portfolio,
    href: `/${language}/portfolio`,
  },
  {
    value: translations.about,
    href: `/${language}/about`,
  },
  {
    value: translations.contacts,
    href: `/${language}/contacts`,
  },
];
---

<nav class="hidden bg-black lg:flex justify-between items-center p-4">
  <a href={`/${language}`} class="focus-item transition-colors">
    <img
      class="rounded-xs"
      srcset={logos}
      sizes={sizes}
      alt={navigationTranslations[language].logo}
    />
  </a>
  <div class="flex items-center gap-8">
    {
      language === "bg" ? (
        <a
          href="/en"
          class="focus-item transition-colors border border-brand-white flex w-max p-0.5 rounded-sm"
          aria-description="Смени на английски език / switch to English"
        >
          <FlagUK size={30} />
        </a>
      ) : (
        <a
          href="/en"
          class="focus-item transition-colors border border-brand-white flex w-max p-0.5 rounded-sm"
          aria-description="Switch to Bulgarian / смени на български език"
        >
          <FlagBulgaria size={30} />
        </a>
      )
    }

    <ul class="flex gap-8">
      {
        links.map((link) => (
          <li class="text-base xl:text-xl">
            <a
              class="text-brand-white hover:underline focus-item transition-colors"
              href={link.href}
            >
              {link.value}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
